<footer id="footer-users">
    <div class="container-fluid footer">
        <div class="area-footer">
            <h6 class="texto-footer">2021 connekt © All rights reserved </h6>
            <img class="img-footer" src="/images/logos/puzzle-footer.png" alt="logo-connekt-footer">  
        </div>
    </div>    
</footer>