<footer>
    <div class="text-footer">
        <p class="texto-footer">2021 connekt © All rights reserved </p>
    </div>
    <div class="img-footer">
        <img id="img-footer" src="/images/logos/puzzle-footer.png" alt="logo-connekt-footer">
    </div>  
</footer>