<body>
  <div>
    <header>
      <div class="logo">
        <a href="/"><img id="logo" src="/images/logos/logo-header.png" alt="logo-connekt"></a>
      </div>
      <nav class="navegation">
        <ul class="itens-navegation">
          <li><a class="" href="/users/signIn" id="form-login">entrar</a></li>
          <li><a class="" href="/users/signUp" id="form-cadastro">cadastrar</a></li>
        </ul>
      </nav>
    </header>
  </div>
    