<%- include('./partials/head') %>

<%- include('./partials/header') %>

  <main>
    <div>
    <h3 class="title" id="create-title">publicar novo curso</h3>
    </div>
    <div class="login-content"> 
        <div class="create-img">
          <img src="/images/create.svg" alt="create" />
        </div>

        <div class="form-create">

<form action="/pages/create" method="POST" enctype="multipart/form-data">

  <div class="create-box">
    <i class="bx bx-book-add login-icon"></i>
    <input type="text" placeholder="digite o curso" class="login-input" name="curso"/>
  </div>

  <div class="create-box">
    <i class="bx bx-timer login-icon"></i>
    <input type="number" placeholder="digite a carga horária" class="login-input" min="1" max="30" name="carga_horaria"/>
  </div>

  <div class="create-box">
    <i class="bx bx-coin-stack login-icon"></i>
    <input type="number" placeholder="créditos"class="login-input" min="0" max="100" name="coin"/>
  </div>

  <div class="create-box">
    <label class="login-input" for="imagem"><i class="bx bx-image-add login-icon"></i>imagem</label>
    <input type="file" name="imagem"id="imagem" class="login-input sendImg" accept="image/*"/>
  </div>

  <div class="create-box">
    <input type="datetime-local" placeholder="data e hora" class="login-input" name="data_hora"/>
  </div>

  <div class="create-box">
    <i class=""></i>
   <textarea placeholder="descrição"
      cols="30" rows="5" class="login-input" id="descricao" name="descricao"></textarea>
  </div>

  <div class="btn">
    <a><button type="submit" class="btn mt-3 login-button">publicar</button></a>
  </div>
</form>

</div>
</div>
</div>

</main>
<%- include('./partials/footer') %>
</body>
</html>