<%- include('./partials/head') %>
<body>
    <main>
        <img class="error-img" src="/images/sad.svg" alt="error">
        <h1 class="error-title">acho que você se perdeu :(</h1>
        <div class="main-buttons">
            <a href="/main">
                <button class="main-button btn mt-3" id="errorbtn">Voltar</button>
            </a>
        </div>
    </main>