<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <!-- meta para site responsivo -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connekt</title>
    <!-- Fonte -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;0,900;1,600&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/styles.css">
    
</head>
<body>
  <header>
    <div class="container" id="nav-container">
      <nav class="navbar navbar-expand-lg fixed-top">
        <div class="col-md-3">
          <a href="#" class="navbar-brand rounded float-end">
            <img id="logo" src="images/logos/logo-header.png" alt="logo-connekt">
          </a>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3">
          <div class="collapse navbar-collapse justify-content-left" id="navbar-links">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="#" id="form-login">entrar</a>
              <a class="nav-item nav-link" href="#" id="form-cadastro">cadastrar</a>
            </div>
          </div>
        </div> 
      </nav>
    </div>
  </header>

  <main>
    <div class="container-fluid">
      <div class="area-principal">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <img src="/images/main-img.svg" alt="imagem-principal">
            </div>
            <div class="col-md-4 service-box">
              <br>
              <br>
              <h4 class="texto-explicativo">aprenda e compartilhe seus conhecimentos em tecnologias</h4>  <br>
              <h2 class="texto-explicativo">usando o tempo como moeda</h2><br><br>
              <h5 class="texto-explicativo">CODE & SHARE & LEARN</h5> 
            </div>  
          </div>
        </div>
        <div class="row">
          <div class="area-btn">
            <h3>faça parte agora e receba créditos para iniciar</h3>
            <a href="#"><button class="btn btn-primary">Cadastrar</button></a>
          </div> 
        </div>  
      </div>
    </div>
  </main>

  <footer>
    <div class="container-fluid mt-3">
      <div class="area-footer">
        <div class="row">
          <div class="col-md-12">
            <h6 class="texto-footer">2021 connekt © All rights reserved </h6>
            <img class="img-footer" src="/images/logos/puzzle-footer.png" alt="logo-connekt-footer">
          </div>  
        </div>
      </div>
    </div>    
  </footer>




  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>
</html>
