<%- include('./partials/head') %>

<%- include('./partials/header') %>

  <main>
    <div class="row">
      <div class="container-fluid">
        <img class="main-img img-fluid" src="/images/main-img.svg" alt="imagem-principal">
        <div class="main-text">
          <h4 class="texto-explicativo">aprenda e compartilhe seus conhecimentos em tecnologias</h4>  <br>
          <h2 class="texto-explicativo mt-3">usando o tempo como moeda</h2>
          <h5 class="texto-explicativo mt-5">CODE & SHARE & LEARN</h5>
        </div>
      </div>
    </div>
    <div class="btn-area">
      <div class="row">
        <h3>faça parte agora e receba créditos para iniciar</h3>
        <a href="/users/signUp"><button class="btn btn-primary mt-3 add-btn">cadastrar</button></a>
      </div>
    </div>
  </main>

  <%- include('./partials/footer') %>

</body>
</html>
