<%- include('./partials/head') %>

<%- include('./partials/header') %>

  <main> 
    <div class="main-content">
      <div class="main-box ">
        <section class="main-todo">
          <h1 class="main-title">o que <br> deseja fazer?</h1>
          <div class="main-buttons">
            <a href="/pages/learn">
              <span class="btn mt-3 main-button">aprender</span>
            </a>
            <a href="/pages/teach">
              <span class="btn mt-3 main-button">ensinar</span>
            </a>          
          </div>    

        </section>

      </div>

      <div class="main-img">
        <img src="/images/learning.svg" alt="entrar" />
      </div>

    </div>

  </main>

  <%- include('./partials/footer') %>

  </body>
</html>


