<%- include('./partials/head') %>

<%- include('./partials/header') %>

<div class="right">
  <a href="">
    <img src="/images/right.svg" alt="next">
  </a>
  </div>
  <main>
    <div class="learnteachtitle">
      <h1 class="requestsmaintitle">agendamentos</h1>
    </div>
    <div class="main-content">

      <div class="main-box ">

        <section class="requests-todo">
          <h1 class="main-title" id="requestsTitle">PROGRAMAÇÃO <br> AVANÇADA</h1>
          <div class="requests-box">
            <i class="bx bx-user config-icon"></i>
          </div>
          <div class="requests-box">
            <i class="bx bx-time config-icon"></i>
          </div> 
            <div class="requests-box">
            <i class="bx bx-calendar config-icon"></i>
        </div>
            <a href="/pages/schedules">
                <span class="btn mt-3 requestsbtn">cancelar agendamento</span>
                </a>
        </div>  
        <div>
            </div>
          

        </section>

      </div>

      <div class="requestsimg">
        <img src="/images/learn-code.svg" alt="entrar" />
      </div>
      <a href="pages/new">
        <span class="btn mt-3 requestsbtn schedules">novo agendamento</span>
        </a>
    </div>  
    </div>

  </main>

  <%- include('./partials/footer') %>

  </body>
</html>