<%- include('./partials/head') %>

<%- include('./partials/header') %>

  <main>
    <div class="main-content meu">

      <div class="main-box advanced">

        <section class="main-todo dodjo">
          <h1 class="main-title meu">programação avançada</h1>

          <div class="appoints">
            <div class="login-box">
              <i class="bx bx-user login-icon"></i>
              <p class="">joão paulo</p>
            </div>
            <div class="login-box">
              <i class="bx bx-user login-icon"></i>
              <p class="">8 créditos</p>
            </div>
            <div class="login-box">
              <i class="bx bx-user login-icon"></i>
              <p class="">23 de janeiro de 2021</p>
            </div>
              </a>
          </div>  
          <div class="main-buttons">
            <a>
              <span class="btn mt-3 second-button">confirmar agendamento</span>
            </a>  
            
          </div>    

        </section>

      </div>

      <div class="main-img">
        <img src="/images/learn-code.svg" alt="entrar" />
      </div>

    </div>

  </main>

  <%- include('./partials/footer') %>

  </body>
</html>


