<%- include('./partials/head') %>

<%- include('./partials/header') %>

  <main>

    <div class="learnteachtitle">
      <h1 class="main-title">ensinar</h1>
    </div>

    <div class="main-content">

      <div class="main-box ">

        <div class="left">
          <a href="javascript:history.back()">
            <img src="/images/left.svg" alt="back">
          </a>
          </div>

        <section class="main-todo">
          <h1 class="main-title">o que <br> deseja fazer?</h1>

          <div class="main-buttons">
              <a href="/pages/requests">
                <span class="btn mt-3 main-button" id="learnteach">verificar solicitações</span>
              </a>
              <a href="/pages/create">
                <span class="btn mt-3 main-button" id="learnteach">publicar novo curso</span>
              </a>
          </div>      

        </section>

      </div>

      <div class="main-img">
        <img src="/images/teach.svg" alt="entrar" />
      </div>

    </div>

  </main>

  <%- include('./partials/footer') %>

  </body>
</html>


