/*LEARN/TEACH*/
#learnteach,
#learnteach-novo,
#learnteach-verificar,
#learnteach-request,
#learnteach-create,
#learnteach-publicated {
    padding: 0rem;
    font-size: 19px;
}

/*adding button left/back */
.left {
    top: 19rem;
    width: 4rem;
    left: 8rem;
    position: absolute;
}

/*adding title to learn and teach*/

.learnteachtitle {
    margin: 53%;
    margin-bottom: -7rem;
    margin-top: -1rem;
}

.title-schedules{
    color: var(--first-color-darkest);
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: -20rem;
    margin-top: 4.6rem;
    font-family: "Poppins";
    width: 800px;
}


/*CREATE*/
#msg-public-curso{
    width: 37%;
    text-align: justify;
    margin: -6% 0% 0% -1%;
}

.focus{
    border-color: red;
}

#create-title {
    margin: 3rem 0 -4rem;
}

.form-create {
    margin-bottom: 1rem;
    width: 67%;
    background-color: var(--first-color-lighten);
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 8px 20px rgb(35 0 77 / 20%);
    animation-duration: 0.4s;
    animation-name: animate-login;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-left: 7rem;
}

      .create-box {
        display: grid;
        grid-template-columns: max-content 1fr;
        column-gap: 0.5rem;
        padding: 1.125rem 1rem;
        background-color: #fff;
        margin-top: 1rem;
        border-radius: 0.5rem;
        font-family: 'Poppins';
      }

.create-img {
    justify-self: center;
    display: flex;
    width: 522px;
    height: 507px;
    background-color: var(--first-color-lighten);
    border-radius: 1rem;
    margin-right: -8rem;
    padding: 2rem 0 2rem 1rem;
}

/*working on form*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

#descricao::placeholder {
    text-align: center;
    font-family: 'Poppins';
}

textarea {
    resize: none;
}

.sendImg {
    display: none;
}

.bx-image-add {
    margin-right: 10px;
    margin-left: 3px;
}

/*requests page*/
#requestsTitle{
    margin-left: -1rem;
    margin-top: 1.7rem;
    font-family: "Luckiest Guy";
    margin-bottom: 16.8rem;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    background-color: transparent;
    border: transparent;
}


.requestsbtn {
    font-size: 19px;
    width: 188px;
    height: 66px;
    padding: 4px;
    background-color: var(--first-color);
    color: #fff;
    font-weight: 600;
    border-radius: 15px;
    transition: 0.3s;
    font-family: 'Poppins';
    position: absolute;
    top: 392px;
    margin-left:-11rem;
}

.confirm {
    font-size: 19px;
    width: 188px;
    height: 66px;
    padding: 4px;
    background-color: var(--first-color);
    color: #fff;
    font-weight: 600;
    border-radius: 15px;
    transition: 0.3s;
    font-family: 'Poppins';
    position: absolute;
    top: 340px;
    margin-left: -11rem;
}

.cancel{
    font-size: 19px;
    width: 188px;
    height: 66px;
    padding: 4px;
    background-color: var(--first-color);
    color: #fff;
    font-weight: 600;
    border-radius: 15px;
    transition: 0.3s;
    font-family: 'Poppins';
    position: absolute;
    top: 420px;
    margin-left: -11rem;
}

#msg-learn-novo,
#msg-learn-agendamento,
#msg-request,
#msg-publicated{
    width: 60%;
    margin: -200px 0px 0px 95px;
    font-family: "Poppins",'Courier New', Courier, monospace;
    font-size: 14px;
    border-radius: 20px;
}

.requestsbtn:hover {
    background-color: var(--first-color-dark);
    color: #fff;
  }

.requests-todo {
    position: absolute;
    bottom: -97px;
    width: 31rem;
    padding: 0rem 1rem;
    border-radius: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--first-color-lighten);
    box-shadow: 0 8px 20px rgb(35 0 77 / 20%);
    height: 32rem;
    margin-left: -18rem;
}

.requests-box {
    /* display: grid;
    /* grid-template-columns: max-content 1fr; */
    /* column-gap: 0.5rem; */
    padding: 0.8rem 1rem;
    background-color: #fff;
    margin-top: -16.3rem;
    border-radius: 0.5rem;
    width: 16rem;
    margin-left: 1.1rem;
    margin-bottom: 17rem;
}

.requestsimg {
    width: 42rem;
    top: 1rem;
    position: absolute;
    left: 33rem;
}

.requestsmaintitle {
  color: var(--first-color-darkest);
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-left: -10rem;
  margin-top: 4.6rem;
  font-family: "Poppins"
}

.request-input{
    text-align: center;
}

.btn-request{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/*Schedules page*/
.schedules {
    margin-left: 37rem;
    position: relative;
    top: -2rem;
    width: 14.2rem;
    height: 3rem;
    padding-top: 9px;
}

.btn-schedules{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.agendar{
    margin-left: 10px;
    padding: 2% 0% 2% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sol-agendar{
    margin-left: 10px;
    padding: 2% 0% 2% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header h5{
    font-family: "Poppins" 'Courier New', Courier, monospace;
}

.label{
    font-family: 'Poppins' 'Courier New', Courier, monospace;
    font-weight: 500;
    margin-top: 2%;
}

.modal-body{
    display: flex;
    flex-direction: column;
}

.modal-content{
    background-color: #f2f2f2;
}

#data_hora_atual{
    border-radius: 10px;
    text-align: center;
    padding-top: 5%;
}

#data_hora_nova{
    border-radius: 10px;
    padding: 3% 0% 3% 0%;
}

.status-name{
    position: absolute;
    margin-top: -500px;
}

.descricao{
    height: 100px;
}

.requestsbtn-schedule {
    font-size: 19px;
    width: 188px;
    height: 66px;
    padding: 4px;
    background-color: var(--first-color);
    color: #fff;
    font-weight: 600;
    border-radius: 15px;
    transition: 0.3s;
    font-family: 'Poppins';
    position: absolute;
    top: 420px;
    margin-left:-11rem;
}

#nome-status{
    font-size: smaller;
    color: red;
    font-weight: 700;
}

/*New page*/
#new {
    width: 15rem;
}

#new-ok,
#new-erro {
    width: 15rem;
}

#msg-ok,
#msg-erro{
    width: 36%;
    text-align: justify;
    margin: -540px 0px 0px -360px;
    padding: 3px;
    border-radius: 20px;
}

#newdescription {
    height: 8rem;
}

.newtitle{
    color: var(--first-color-darkest);
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 3rem;
    margin-left: -20rem;
    margin-top: 4.6rem;
    font-family: "Poppins";
    width: 31rem;
}

.bxs-help-circle{
    display: flex;
    flex-direction: column;
}

.right {
    top: 19rem;
    width: 4rem;
    left: 74rem;
    position: absolute;
}

/* publicated */
#main-title-publicated{
    width: 40%;
    text-align: center;
}

.status{
    margin: -300px 0px 0px 20px;
    font-family: 'Poppins', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 20px;
}

#status{
    padding: 5px;
    border-radius: 10px;
}

#img-publicated{
    margin-left: -600px;
}

#fundo-cinza{
    width: 205%;
    margin-left: 22rem;
}

.table{
    width: 85%;
    margin-left: 110px;
}


#filtro-status-label{
    font-family: 'Popins', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
}

.btn-action{
    border: transparent;
    padding-top: 0%;
}

.filtro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
}

.btn-status{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    background-color: var(--first-color);
    color: #fff;
    font-weight: 300;
    border-radius: 15px;
    transition: 0.3s;
    width: 130px;
    height: 30px;
    font-size: 18px;
    font-family: 'Poppins';
}

.btn-status:hover{
    background-color: var(--first-color-dark);
    color: #fff;
}

#requestsTitle{
    margin-top: 10px;
    padding-bottom: 0%;
}

#newdescription{
    height: 100px;
}

.publicado-page button,
.cancelado-page button,
.agendado-page button,
.andamento-page button,
.concluido-page button,
.todas-page button,
.lidas-page button,
.nao-lidas-page button{
    background-color: yellowgreen;
}

.publicado-page button:hover,
.cancelado-page button:hover,
.agendado-page button:hover,
.andamento-oage button:hover,
.concluido-page button:hover{
    background-color: rgb(71, 231, 22);
}

#course-cancel{
    margin: -90px 0px 0px -210px;
}

.move-msg{
    position: absolute;
    top: 91%;
    left: 40%;
    text-align: center;
}

.move-publicated{
    display: fle;
    margin: 110% 0% 0% 315%;
}

.move-move-scheduled{
    display: flex;
    margin: 110% 0% 0% 315%;
}

.page-item{
    width: 100px;
}

.modal-body{
    display: flex;
    text-align: left;
}

.confirm{
    margin-top: 3%;
}

.cancel{
    margin-top: 3%;
}

/* page edit */
.btn-request-edit{
    position: absolute;
    top: 153px;
    left: 485px;
}

.main-title-edit{
    margin-top: 5%;
}
.negrito{
    font-weight: 500;
    font-style: italic;
}

.requests-box-msg {
    padding: 0.8rem 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    border: transparent;
    width: 29rem;
}

#modal-body-msg{
    font-weight: 500;
}

#pagination{
    position: absolute;
    left: 38%;
    top: 88%;
}