@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* colors */
    --first-color: #6bbcff;
    --first-color-dark: #3fa7fc;
    --first-color-darkest: #00335E;
    --first-color-light: #9BA2AA;
    --first-color-lighten: #f2f2f2;

    /* fonts */
    --main-font: 'Luckiest Guy', cursive;
    --body-font: 'Poppins', sans-serif;
}
    
/* Gerais */
body {
    font-family: var(--body-font);
}

.container {
    padding: 60px 0px 20px 0px;
}

/* Barra de navegação */
header{
    width: 100%;
} 

.navItens {
    justify-content: flex-end;
}

#logo {
    width: 175px;
    height: 40px;
}

.navbar-brand{
    margin-left: 14%;
}

nav{
    border-radius: 0px 0px 25px 25px;
}

.navbar {
    background-color:var(--first-color-lighten);
}

.navbar-nav{
    margin-right: 14%;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--first-color);
    font-weight: bold;
}

/* main */

.container-fluid {
    display: flex;
}
.main-img{
    width: 700px;
    height: 480px; 
    margin-left: 5%; 
}

.main-text {
    text-align: center;
    margin-top: 20vh;
    margin-right: 5%;
    padding-left: 3%;
}

.main-text h2,
.main-text h4,
.main-text h5 {
    width: 450px;
}

.main-text h2:hover,
.main-text h4:hover,
.main-text h5:hover {
    color: var(--first-color-dark)
}

.btn-area {
    width: 100%;
    text-align: center;
    margin-top: -3%;
}

.btn-area a button {
    background-color: var(--first-color);
    color: white;
    border: none;
    border-radius: 18.8px;
    font-weight: bold;
    width: 9rem;
    height: 3rem;
    font-size: 1.3rem;
    justify-items: center;
}

.btn-area h3 {
    margin-top: 1%;
    text-align: center;
}

.btn-area h3:hover{
    color: var(--first-color-dark);
}

/* footer */
footer {
    margin-top: 1.6%;
}

.footer .container-fluid{
    padding: 0%;
}

.area-footer{
    display: flex;
    align-items: center;
    background-color: var(--first-color-lighten);
    width: 100%;
    border-radius: 25px 25px 0px 0px;
}

.texto-footer{
    margin-left: 10%;
    color: var(--first-color-light);
}

.img-footer {
    height: 45px;
    width: 45px;
    margin-left: 59%;
}

