@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* colors */
    --first-color: #6bbcff;
    --first-color-dark: #3fa7fc;
    --first-color-darkest: #00335E;
    --first-color-light: #9BA2AA;
    --first-color-lighten: #f2f2f2;

    /* fonts */
    --main-font: 'Luckiest Guy', cursive;
    --body-font: 'Poppins', sans-serif;
}
    
/* Gerais */
body {
    font-family: var(--body-font);
}

.container {
    padding: 60px 0 20px 0;
    /* width: min(80vw, 1500px); */
}

/* Barra de navegação */
.navItens {
    justify-content: flex-end;
}

#logo {
    width: 175px;
    height: 40px;
}

.navbar {
    background-color:var(--first-color-lighten);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--first-color);
    font-weight: bold;
}

/* main */

.container-fluid {
    display: flex;
}
.main-img{
    width: 870px;
    height: 624px;    
}

.main-text {
    text-align: center;
    margin-top: 200px;
}

.btn-area {
    width: 100%;
    text-align: center;
    margin-top: -3%;
}

.btn-area button {
    background-color: var(--first-color);
    color: white;
    border: none;
    border-radius: 18.8px;
    font-weight: bold;
    width: 9rem;
    height: 3rem;
    font-size: 1.3rem;
    justify-items: center;
}


.btn-area h3 {
    text-align: center;
}

/* footer */
footer {
    margin-top: 163px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.area-footer .row {
    height: 60px;
    background-color: var(--first-color-lighten);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; 
}

.area-footer .col-md-12 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
}

.area-footer .col-md-12 .img-footer {
    height: 45px;
    width: 45px;
    position: absolute;
    margin-left: 460px;
}

.texto-footer {
    color: var(--first-color-light);
    margin: 0;
}

